* {
    margin: 0px;
    padding: 0px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
}

.link ul {
    list-style: none;
    display: flex;

}

.link a {
    margin-right: 26px;
    text-decoration: none;
    color: white;
    font-size: 17px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transition: all 0.2s;
    position: relative;
}

.link a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: transparent;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease;
}

.link a:hover::before {
    background-color: white;
    transform: scaleX(1);
    transform-origin: bottom left;
}

.link a:not(:last-child)::after {

    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: transparent;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease;
}

.link a:hover::after {
    background-color: transparent;
    transform: scaleX(0);
}



.hm {
    display: none;
}

@media only screen and (max-width: 1360px) {
    .navbar {
        padding: 0 50px;
    }
    
    .background h1 {
        top: 35% !important;
        font-size: 55px !important; 
    }

    .buttoni button {
        width: 200px !important;
        padding: 13px !important;
        border-radius: 22px !important;
        font-size: 17px !important;
        bottom: 30px;

    }

    .signup-text {
        margin-top: 1px !important;
    }

    .signup-text p a {
        font-size: 19px !important; 
    }
    

   
}





@media only screen and (max-width: 1200px) {
    .navbar {
        padding: 0 30px;
    }

    .background h1 {
        font-size: 45px !important; 
    
    }

    .buttoni button {
        bottom: 25px;

    }

    .signup-text {
        margin-top: 2px !important;
    }
    

}

@media only screen and (max-width: 900px) {
    .hm {
        display: block;
        cursor: pointer;
      
    }


    .hm .line {
        width: 30px;
        height: 3px;
        background: #fefefe;
        margin: 6px 0;
    }

    .link {
        height: 0;
        position: absolute;
        top: 50px;
        left: 0;
        right: 0;
        width: 100vw;
        ;
        background: black;
        transition: 0.5s;
        overflow: hidden;
        z-index: 9999;
    }

    .link.active {
        height: 450px;

    }

    .link ul {
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;

    }

    .link.active ul {
        opacity: 1;
    }

    .link ul li a {
        margin-bottom: 27px;
        font-size: 25px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }


    .background h1 {
        font-size: 35px !important; 
    }

    .buttoni button {
        width: 150px !important;
        padding: 8px !important;
        border-radius: 18px !important;
        font-size: 17px !important;
        bottom: 30px;
    }

    .buttoni .signup button {
        margin-bottom: 3px !important;
    }

    .signup-text {
        margin-bottom: 20px !important;
        margin-top: 2px !important;
    
    }

    .container {
        
        top: 17% !important;
        
    }

   

}

.background img {
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    object-fit: cover;
    position: relative;
    cursor: pointer;

}

.background p {
    position: absolute;
    top: 50%;
    left: 77%;
    transform: translate(-46%, -46%);
    color: black;
    padding-bottom: 500px;
    font-size: 30px;

}

.background h1 {
    text-align: center; 
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%); 
    color: white;
    font-size: 65px; 
    font-weight: bold; 
    font-family: 'Arial', sans-serif; 
    text-shadow: 2px 2px 15px rgba(0, 0, 0, 0.7); 
    transition: transform 0.3s ease; 
}

.background h1:hover {
    transform: translate(-50%, -50%) scale(1.05); 
}



.buttoni {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.buttoni .signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.buttoni button {
    width: 200px;
    padding: 15px;
    text-align: center;
    margin: 20px auto; 
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid white;
    background: transparent;
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    z-index: 1;
}



.signup-text {
    
    margin-top: 30px;
    font-size: 5px;
    position: relative;
    text-align: center;
}

.signup-text p  {
    
    margin-top: 210px;
    width: 380px;
  
}

.signup-text p a {
    color: white; 
    text-decoration: none; 
    font-size: 21px; 
    font-weight: bold;
}




.buttoni button:hover {
    border: none;
    background-color: transparent;
}

.container {
    position: absolute;
    top: 33%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.4);
    color: whitesmoke;
    width: 300px;
    margin: 20vh auto 0 auto;
    padding: 30px;
    border-radius: 4px;
    font-size: 12px;
    border-radius: 12px;
    

}



.container h1 {
    color: whitesmoke;
    text-align: center;
}

 .container  button {
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    color: black;
    background-color: white ;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    font-weight: bold;
}

.container .input-control {
    display: flex;
    flex-direction: column;
}

 .container .input-control input {
    border: 2px solid #f0f0f0;
	border-radius: 4px;
	display: block;
	font-size: 12px;
	padding: 10px;
	width: 95%;
}

.container .input-control input:focus {
    outline: 0;
}

.container .input-control.success input {
    border-color: #09c372;
}

.container .input-control.error input {
    border-color: #ff3860;
}

.container .input-control .error {
    color: #ff3860;
    font-size: 9px;
    height: 13px;
}


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 1);
    z-index: 998; 
    display: none; 
}


